html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.pion {
  width: 200px;
  height: 200px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #999;
  cursor: pointer;
}

.pion:focus {
  outline: none;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
}